@media screen and (max-width: 1080px) {
  .links__link a {
    font-size: 14px;
  }
  .title {
    background-position: right top;
  }
  .title::before {
    width: 90%;
    height: 60vh;
    top: -30%;
    right: -50%;
  }
  .card-grid {
    grid-template-rows: 10vh 30vh 25vh 10vh;
  }
  .card-grid__button button {
    background: #2d3436;
    color: #ffffff;
    font-size: 14px;
  }
  /*Адаптив блока "Доступные цены"*/
  .pricing-cards__card {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }

  /*footer*/
  .footer {
    justify-content: center;
    grid-template-areas:
      "follow2"
      "follow1"
      "info "
      "form ";
  }
  .footer::after {
    height: 80px;
  }
}

@media screen and (max-width: 750px) {
  /*адаптив для набара*/
  .navbar-wraper {
    justify-content: space-between;
    padding: 15px 15px;
  }
  .logo_image--burger {
    display: block;
  }

  .navbar__links-block {
    opacity: 0;
    z-index: -2;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100vh;
    left: 0;
    transition: top 0.5s;
  }
  .links__link a {
    font-size: 30px;
  }
  .links__link--active a {
    color: #6c5ce7;
  }
  .links__link::before {
    width: 10px;
    height: 10px;
  }
  .links__link--active::before {
    display: block !important;
  }
  .logo__name {
    color: #5c5c5c;
    font-weight: 700;
    font-size: 24px;
  }

  .logo_image--burger img {
    width: 40px;
    height: 40px;
  }
  .logo_image--burger__close {
    width: 30px;
  }
  .logo_image--logo {
    display: none;
  }

  .navbar__button-block button {
    width: 128px;
    height: 40px;
    font-size: 18px;
  }
  /*адаптив для заголовка*/
  .title {
    background-size: 30% 30vh;
    background-position: right top;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title__text {
    position: relative;
    z-index: 2;
    font-size: 64px;
    line-height: 77px;
    margin-top: 48px;
    max-width: 80%;
  }
  .title__arrow {
    display: block;
    border: 2px solid #6c5ce7;
    border-radius: 50%;
  }

  .title__small-text {
    font-size: 24px;
    line-height: 36px;
  }

  .title__pink-text::after {
    width: 140px;
    height: 30px;
    left: -10px;
  }
  /*карточка*/
  .card-grid {
    min-width: 300px;
    margin-left: 10px;
    row-gap: 15px;
    column-gap: 15px;
    margin-top: 24px;
    margin-right: 10px;
    grid-template-rows: 10vh 20vh 15vh 10vh;
    grid-template-columns: 20% 25% 20% 12% 12%;
  }

  .card-grid__card {
    border-radius: 10px;
  }
  .card-grid__text {
    font-size: 12px;
  }
  .orange-card__title {
    font-size: 14px;
  }
  .orange-card__text {
    font-size: 12px;
  }
  .card-grid {
    grid-template-areas:
      ". C2 C2 . ."
      "C1 C2 C2 C4 C6"
      "C1 C3 C5 C5 C7"
      ". C3 BT BT .";
    margin-left: -10px;
  }
  .card-grid .card-grid__card:nth-child(4) {
    font-size: 36px;
  }
  .card-grid .card-grid__card:nth-child(8) {
    font-size: 36px;
  }
  .card-grid .card-grid__card:nth-child(9) {
    background: #74b9ff;
  }
  .card-grid__text {
    display: none;
  }
  .card-grid__card__text {
    display: none;
  }
  /*Блок "Доступные цены"*/
  .affordable-pricing {
    margin-top: 40px;
  }
  .pricing-cards__card:nth-child(2)::after {
    display: none;
  }

  /*what we do*/
  .what-we-do {
    padding-left: 15px;
    margin-top: 40px;
  }

  .what-we-do__title {
    font-size: 24px;
    line-height: 36px;
  }

  .what-we-do__text {
    font-size: 18px;
    line-height: 32px;
  }

  .item__icon {
    width: 53px;
    height: 53px;
    border-radius: 12px;
    padding: auto;
  }

  .item__icon img {
    height: 42px;
    width: 42px;
  }

  .what-we-do-title__colored-text {
    color: #7b68ee;
  }

  .what-we-do-title__emoji {
    display: none;
  }
  .item__title {
    font-size: 24px;
    line-height: 36px;
    margin-top: 18px;
  }
  .item__text {
    margin-top: 10px;
    font-size: 18px;
    line-height: 32px;
  }
  .what-we-do-items__item {
    max-width: 150px;
  }
  .item__button {
    width: 110px;
    height: 36px;
    font-size: 18px;
  }
}

@media screen and (max-width: 560px) {
  /*Заголовок*/
  .title::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 100vh;
    background: url("../images/wave.svg") no-repeat;
    background-size: contain;
    left: 0;
    top: -80%;
    z-index: -2;
    opacity: 0.5;
  }
  /*Сетка карточек*/
  .card-grid {
    grid-template-rows: 5vh 10vh 15vh 5vh;
  }
  /*Доступные цены*/
  .affordable-pricing {
    text-align: left;
    padding-left: 15px;
    margin-top: 80px;
  }
  .affordable-pricing__title {
    font-size: 32px;
  }
  .affordable-pricing__text {
    color: #adadad;
    font-size: 24px;
    margin-top: 0px;
  }
  .title__blue-text::after {
    width: 100px;
    height: 5px;
  }
  .pricing-cards__card {
    padding: 24px;
    height: 450px;
  }
  .affordable-pricing__cards {
    gap: 24px;
  }
  .pricing-card-title__descriprion {
    color: #000000;
    font-size: 18px;
  }
  .prise__text {
    font-size: 24px;
    color: #6c5ce7;
  }
  .prise__small-text {
    font-size: 12px;
  }
  .pricing-card__features {
    margin-top: 24px;
  }
  .features__feature {
    font-size: 14px;
  }
  .pricing-card__button {
    height: 48px;
  }

  .what-we-do__items {
    display: grid;
    grid-template-areas:
      "item1 item2"
      "item3 item4";
    column-gap: 30px;
    row-gap: 66px;
  }
  .section-union {
    display: flex;
    flex-direction: column-reverse;
  }
  /*footer*/
  .footer {
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0;
    grid-template-areas:
      "form"
      "info"
      "follow2"
      "follow1";
  }
  .form__items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__form {
    text-align: center;
  }

  .follow-us__social > .footer-header {
    display: none;
  }
  .form-input {
    max-width: max-content;
    width: 290px;
  }

  .form-textarea textarea {
    max-width: max-content;
    width: 290px;
  }
  .form-button button {
    width: 290px;
    height: 60px;
  }
  .footer::after {
    background: url("../images/Shape.png") no-repeat;
    z-index: -1;
    width: 300px;
    height: 200px;
    background-size: cover;
    left: 0;
    bottom: -50px;
  }
  .footer::before {
    content: "";
    position: absolute;
    width: 175px;
    height: 102px;
    bottom: -50px;
    z-index: -1;
    left: 70px;
    background: url("../images/dots-footer.svg") no-repeat;
    background-size: cover;
  }
  .information__links {
    grid-template-columns: 150px 150px;
    justify-content: center;
  }
  .follow-us__email a {
    font-size: 18px;
  }
  .follow-us__email {
    text-align: center;
  }
  .information-links__link a {
    font-size: 14px;
  }
}
@media screen and (max-width: 350px) {
  .title::before {
    width: 80%;
    height: 40vh;
    top: -10%;
    right: -50%;
  }
  .title::after {
    top: -40%;
  }

  .card-grid {
    grid-template-rows: 5vh 15vh 20vh 5vh;
  }
}
