/*Обнуляющий стиль*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*Основной стиль*/
body {
  --defaultBg: rgba(0, 0, 0, 0.8);
  --compliteBg: red;
  --fontCollor: #40e0d0;
  background-color: var(--defaultBg);
  overflow: hidden;
}

.timer-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  gap: 20px;
}
.timer-controls {
  font-size: 40px;
  color: var(--fontCollor);
  display: flex;
  gap: 50px;
  align-items: center;
}

.timer-controls input {
  font-size: 40px;
  background-color: transparent;
  border: 2px solid #ffffff;
  width: 50px;
  height: 70px;
  outline: none;
  color: var(--fontCollor);
}

.timer-controls input:focus {
  border: 3px solid #ffffff;
  border-radius: 5px;
}

.control-button img {
  width: 40px;
  height: 40px;
}

.control-button {
  background-color: transparent;
  border: none;
}

.control-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.constrol-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.set-time-buttons {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.set-time-button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.set-time-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
