/*Обнуляющий стиль*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*Основной стиль*/
html {
  --theme: #cdb891;
  --white: #ffffff;
  --hoverButton: rgba(0, 0, 0, 0.3);
  --dotBg: #000000;
}

body {
  background-color: var(--theme);
}

.slider-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slider {
  position: relative;
  height: 300px;
  margin-top: 50px;
}
.slider__slide {
  display: none;
  position: absolute;

  left: 0;
  width: 100vw;
  height: 200px;
}
.slider__slide img {
  width: 100%;
  height: 450px;
}

.slider__button {
  z-index: 1;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 200px;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
}

.slider__button img {
  width: 40px;
  height: 40px;
}
.slider__button:hover {
  background-color: var(--hoverButton);
  cursor: pointer;
}

#left-btn {
  left: 30px;
}

#right-btn {
  right: 30px;
}

.slider__dots {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 80px;
  left: 43%;
}
.dots__dot {
  border: 1px solid #000000;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
.dots__dot--active {
  background-color: var(--dotBg);
}
.dots__dot:hover {
  background-color: var(--dotBg);
  cursor: pointer;
}
